<div class="row">
  <h1>Burger Town</h1>
  <h2>Create your burgers and then eat them!</h2>
  <br>
  <form>
    <label>Burger Name:</label><br>
    <input id="name" name="name"><br>
    <button class="burgerbtn" type="button">MAKE BURGER</button>
  </form>
</div>
{{> burgers/meatandcheese}}