<div class="row">
	<div class="col-sm-5 col-offset-1">
		<h2>Yet to be devoured</h2>
		<ul class="uneaten">

		</ul>
	</div>
	<div class="col-sm-5">
		<h2>already devoured</h2>
		<ul class="eaten">

		</ul>
	</div>
</div>